@charset "utf-8"; //variables
//brand colors
$darkGrey: #626366;
$green: #A6C64C;
$darkGreen: #73A35B;
$lightBlue: #7DC1D8;
$purple: #AB8BC4;
$yellow: #FFE342;
/* CSS Document */
/* Website Produced by Codigo |  gocodigo.com */
/* --------------------------------------------------
CSS Table of Contents // Primary CSS Doc
-----------------------------------------------------
1.CSS Reset
2. General
3. Main Menus
4. Sub Menus
5. Sub Pages
6. Footer
7. Nav
8. Email Send - Dialog Modal Box
9. Email Confirmation - Alert Modal
10. Animations

/* 1. CSS Reset */
// @import "./modules/reset";
/* ************ */
/* Fonts */
@import "./modules/fonts";
/* 2. General */
